{% if block.settings.article != blank %}
  {% assign article = block.settings.article %}
  {% render 'article-card',
    article: article,
    media_aspect_ratio: 1.66,
    show_image: section.settings.show_image,
    show_date: section.settings.show_date,
    show_author: section.settings.show_author,
    show_excerpt: true
  %}
{% else %}
  {%- assign placeholder_image_index = block.index0 | modulo: 3 | plus: 1 -%}
  {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
  {{ placeholder_image | placeholder_svg_tag: 'blog-placeholder-svg' }}
  <h3 class="card__heading h2">
    {{ 'sections.featured_blog.onboarding_title' | t }}
  </h3>
{% endif %}
{% schema %}
  {
    "name": "Article",
    "settings": [
      {
        "type": "article",
        "id": "article",
        "label": "Article"
      }
    ],
    "blocks": [{"type": "@theme"},{"type": "@app"}],
    "presets": [
      {
        "name": "Article"
      }
    ]
  }
{% endschema %}