<div class="custom-section">
    {% content_for 'blocks' %}
</div>
{% schema %}
  {
    "name": "Custom Section",
    "settings": [],
    "blocks": [{"type": "container"}],
    "presets": [
      {
        "name": "Custom Section",
        "blocks": [
          {
            "type": "container",
            "blocks": [
              {
                "type": "group",
                "blocks": [
                  {
                    "type": "image-block",
                    "blocks": [
                      {
                        "type": "image"
                      }
                    ]
                  },
                  {
                    "type": "text-block",
                    "blocks": [
                      {
                        "type": "heading"
                      },
                      {
                        "type": "description"
                      },
                      {
                        "type": "button"
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}