<div class="custom-section">
    {% content_for 'blocks' %}
</div>
{% schema %}
  {
    "name": "Custom Section",
    "settings": [],
    "blocks": [{"type": "@theme"}],
    "presets": [
      {
        "name": "Custom Section"
      }
    ]
  }
{% endschema %}